body {
    background-color: #0f121f;
    background-image: url(/static/stars.png);
    background-repeat-y: no-repeat;
    color: #fff;
}

body * {
    font-family: Ubuntu;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    margin: 0;
}

a,
a:hover,
a:visited {
    color: #fff;
    text-decoration: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

div.wrapper>h1 {
    text-align: center;
    margin: 100px auto;
    font-size: 2.4em
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 0;
}

nav {
    justify-self: end;
}

nav li {
    display: inline-block;
    list-style-type: none;
    margin-left: 20px;
}

nav button {
    background: none;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 16px;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

.article {
    padding: 10px;
    border: 1px solid #00dba0;
    position: relative;
    padding-bottom: 40px;
}

.article h2 {
    font-size: 1.2em;
}

.article .author {
    padding: 10px;
    background: #00dba0;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 0;
    color: #0f121f;
}

.article-detail .article {
    padding: 0;
}

.article-detail .article img {
    max-width: 100%;
}

.article-detail .article h2 {
    text-align: center;
    margin: 20px auto;
    font-size: 2em
}

.article-detail .article h3 {
    text-align: center;
}

.article-detail .article p {
    margin: 10px 20px
}

.site-form {
    margin-top: 60px;
    border: 1px solid #00dba0;
    padding: 20px;
}

.site-form input,
.site-form textarea {
    display: block;
    margin: 20px 0 0px 0;
    padding: 10px;
}

a.highlight {
    border: 1px solid #00dba0;
    padding: 10px;
    border-radius: 4px;
    color: #00dba0;
}

.helptext,
.helptext ul {
    margin: 0 auto 20px;
    color: #bbb;
    font-size: 14px;
    display: block;
}

.errorlist li {
    padding: 10px;
    list-style-type: none;
    border: 1px solid #FF5722;
    margin: 10px 0;
    color: #FF5722
}

.errorlist {
    padding: 0;
}

.site-form input[type="submit"] {
    background: #00dba0;
    border: 0;
    color: #fff;
    font-size: 20px;
    border-radius: 4px;
    margin: 10px 0;
}

@media only screen and (max-width: 768px) {

    /* For mobile phones: */
    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 20px 0;
    }

    nav {
        justify-self: end;
    }

    nav li {
        display: inline-block;
        list-style-type: none;
        margin-left: 4px;
    }

    .articles {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 30px;
    }
}